@import 'styles/lib.scss';

.pdf-viewer__viewer {
  height: 100vh;
}

.toolbar {
  align-items: center;
  display: flex;
  width: 100%;
}

.toolbar__main {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
}

.toolbar__item {
  padding: 0 4px;
  height: 32px;
  line-height: 30px;
}

.viewer-zoom-popover-target{
  padding:0;
}

.viewer-button {
  display: flex;
  align-items: center;
}

.viewer-tooltip-body {
  padding: 0 4px 4px 4px;
}

.viewer-menu-item {
  padding: 2px 0 5px 0;
}
