@import 'styles/lib.scss';

.experience {
  @include f-small;
  color: $c-text;
  position: absolute;
  width: 64%;
  bottom: 0;
  left: 0;
  opacity: 0;
  animation: fadein .5s $t-bezier;
  animation-delay: 1.25s;
  animation-fill-mode: forwards;
  padding: 26px 15px 26px 30px;
  @include media('>=tablet'){
    padding: 6px 0 0 0;
    position: relative;
    width: auto;
  }
}

@keyframes fadein {
  from { opacity: 0; transition: .5s color $t-bezier, .5s opacity $t-bezier; }
  to   { opacity: 1; transition: .5s color $t-bezier, .5s opacity $t-bezier; }
}
