@import 'styles/lib.scss';

.description {
  @include f-main;
  grid-column: span 2;
  color: $c-text;
  opacity: 0;
  animation: fadein .5s $t-bezier;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  padding: 26px 30px;
  > span,
  > a {
    transition: color .35s $t-bezier;
  }
  &__span--inactive {
    color: $c-hover;
  }
  @include media('>=tablet'){
    padding: 0;
  }
}

@keyframes fadein {
  from { opacity: 0; transition: .5s color $t-bezier, .5s opacity $t-bezier; }
  to   { opacity: 1; transition: .5s color $t-bezier, .5s opacity $t-bezier; }
}
