@font-face {
    font-family: 'Mercury';
    src: url('/fonts/MercuryRegular-Regular.woff2') format('woff2'),
        url('/fonts/MercuryRegular-Regular.woff') format('woff'),
        url('/fonts/MercuryRegular-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plain';
    src: url('/fonts/Plain-LightIta.woff2') format('woff2'),
        url('/fonts/Plain-LightIta.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Plain';
    src: url('/fonts/Plain-Light.woff2') format('woff2'),
        url('/fonts/Plain-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

