@font-face {
    font-family: 'Mercury';
    src: url('/fonts/MercuryRegular-Regular.woff2') format('woff2'),
        url('/fonts/MercuryRegular-Regular.woff') format('woff'),
        url('/fonts/MercuryRegular-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

