html,
body,
body > div {
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: $c-off-white;
	padding: 64px;
	@include media('<=tablet'){
		padding: 28px;
	}
	font-family: $f-primary;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: $c-off-black;
	text-decoration: none;
	transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
	transform: skewX(0);
	&:hover {
		transform: skewX(-10deg);
	}
}

li {
	transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
	transform: skewX(0);
	&:hover {
		transform: skewX(-10deg);
	}
}

p {
	margin: 0;
	padding: 0;
}