$breakpoints: (
  tablet: 1025px,
  desktop: 1080px,
  imac: 1800px
);

$c-off-black: #0E0E0E;
$c-off-white: #f5f5f5;

$f-primary: 'Mercury', 'Helvetica Neue', 'Helvetica', sans-serif;

$t-bezier: cubic-bezier(0.645,0.045,0.355,1);

$z-main: 1;